.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar a{
    padding: 0 2rem;
}